{% load static %}
<div class="header-slide">
    <div id="owl-demo" class="owl-carousel">
        {% for item in items %}
            <div class="item">
                {% include 'frontpage/video_item_zoom.html' with trailer_model=item %}
{#                <div class="zoom-container">#}
{#                    <div class="zoom-caption">#}
{#                        <span>{{ item.ui_badge|default_if_none:'' }}</span>#}
{#                        <a href="{% url 'trailer_detail' id=item.id %}">#}
{#                            <i class="fa fa-play-circle-o fa-5x" style="color: #fff"></i>#}
{#                        </a>#}
{#                        <p>{{ item.label }}</p>#}
{#                    </div>#}
{#                    <img src="/{{ item.cover.url }}"/>#}
{#                </div>#}
            </div>
        {% endfor %}
    </div>
</div>
