server {
    listen {{ listen_port }};

    client_max_body_size 2G;

    location /static {
       alias {{ settings.static_root }};
    }

    location ~* file_download/([\w-_]*)/(.*) {
        set $bucket $1;
        set $filename $2;
        rewrite ^(.*)$ /$bucket/$filename?$args;
        proxy_hide_header X-Amz-Request-Id;
        proxy_hide_header X-Minio-Deployment-Id;
        proxy_pass http://10.203.253.125:9999;
        proxy_intercept_errors on;
        error_page 403 404 405 = @file_404;
        break;
    }

    location @file_404 {
        rewrite ^/(.*) /file_404? break;
    }

	location /docs {
       alias {{ project_path }}/src/online-docs/site;
    }

    location / {
        uwsgi_pass unix://{{ build_path }}/sock.sock;
        include /etc/nginx/uwsgi_params;
    }
}